{% extends "base.html" %}
{% block title %}Andeconfit{% endblock %}
{% block content %}
<div class="banner" style="background-image: url({{ url_for('static', filename='img/meny/andeconfit.jpeg') }});">
    <h1 class="banner-tittel">Andeconfit</h1>
</div>

<p class="brodtekst">
    Andeconfit er en fransk delikatesse der andelår blir saltet og deretter langsomt kokt i sitt eget fett. <br>
    Resultatet er et utrolig <strong>mørt og saftig kjøtt</strong> med en <strong>sprø og gyllen stekeskorpe</strong>. <br>
    Dette er en klassiker som byr på en rik og luksuriøs smaksopplevelse, perfekt for de som verdsetter tradisjonelt fransk håndverk.
</p>
{% endblock %}
