{% extends "base.html" %}
{% block title %}Bœuf bourguignon{% endblock %}
{% block content %}
<div class="banner" style="background-image: url({{ url_for('static', filename='img/meny/boeuf_bourguignon.jpg') }});">
    <h1 class="banner-tittel">Bœuf Bourguignon</h1>
</div>

<p class="brodtekst">
    En <strong>fyldig og hjertevarmende kjøttgryte</strong> fra Burgund-regionen i Frankrike. <br>
    Mørt oksekjøtt blir langsomt braisert i rødvin sammen med løk, hvitløk, gulrøtter og sopp. <br>
    Dette skaper en <strong>dyp, kompleks og utrolig smakfull saus</strong> som varmer sjelen. En perfekt rett for kjølige dager.
</p>
{% endblock %}
