{% extends "base.html" %}
{% block title %}Tilbakemeldinger{% endblock %}

{% block content %}
<div class="banner" style="background-image: url({{ url_for('static', filename='img/bakgrund/kantine.JPG') }});">
    <h1 class="banner-tittel">Tilbakemeldinger</h1>
</div>

<h2 class="title-index">Legg igjen en tilbakemelding</h2>

<div class="boks">
  <form method="POST">
    <p><label>Navn:</label><br>
    <input type="text" name="navn" required></p>

    <p><label>Melding:</label><br>
    <textarea name="melding" required></textarea></p>

    <button type="submit">Send</button>
  </form>
</div>

<h2 class="title-index">Tidligere tilbakemeldinger</h2>
<div class="boks-konteiner">
  {% for msg in messages %}
  <div class="boks">
    <strong>{{ msg.navn }}</strong><br>
    <small style="color:gray;">{{ msg.tidspunkt }}</small>
    <p>{{ msg.melding }}</p>
  </div>
  {% else %}
  <p>Ingen tilbakemeldinger enda – bli den første!</p>
  {% endfor %}
</div>
{% endblock %}
